* {
    background-color: antiquewhite;
}

h1 {
    border-radius: 1px;
    width: 50px;
    height: 10px;
    margin: 0 50px;
}

h2> button {
    border-radius: 50%;
    width: 10;
    height: 10;
    margin: 0 50px;
}

h3 {
    display: block;
    width: 25%;
    height: 25%;
    margin: 0 50px;
}