.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: azure;
    padding: 10px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn{
    background-color: rgb(255, 0, 106);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 15px 25px 27px -1px rgba(0,0,0,0.73);

}
.active{
    font-size: large;
}
