<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text</title>
</head>
<body>
    <h1>post form</h1>
    <form action="">
        <p>
            Name:<input type="text">
        </p>
        <p>
            Age:<input type="text">
        </p>
        <p>
            Favorite Number:<input type="text">
        </p>
        <p>
            favorite Food: <input type="text">
        </p>
        <p>
            Favorite Color:<input type="text">
        </p>
        <p>
            Favorite Sporet:<input type="text">
        </p>
        <button>Submit</button>
    </form>
</body>
</html>